<md-content layout-xs="column" layout="row" class="md-padding gray-bg" ng-controller="personalCtrl">
    <div flex-xs="" flex-gt-xs="50" layout="column">
        <md-card class="md-padding">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline"
                          ng-show="!userPersonalData.first_name">{{userPersonalData.username}}</span>
                    <span class="md-headline" ng-show="userPersonalData.first_name">{{userPersonalData.first_name}} {{userPersonalData.last_name}}</span>
                    <span class="md-subhead">{{userPersonalData.email}}</span>
                </md-card-title-text>

                <!--
                User photo upload
                -->
                <md-card-title-media>
                    <div class="md-media-md card-media img_block">
                        <label for="file-input">
                                <img ng-src="{{userPersonalData.photo}}" class="md-card-image" alt="User avatar" />
                                <div class="over_block"></div>
                                <span>Upload photo</span>
                        </label>

                        <input id="file-input" type="file" file-model="myFile" />
                    </div>
                </md-card-title-media>

            </md-card-title>
            <md-card-actions layout="row" layout-align="start center">
                <md-button class="md-primary md-button md-ink-ripple" ng-click="popChangePwd($event)">Change password</md-button>
            </md-card-actions>
            <md-card-actions layout-align="start center" ng-show="Object.keys(social_links).length > 0;">
                <span class="md-subhead">Assign social accounts:</span><br /><br />
                <span ng-repeat="link in social_links | orderBy: 'name' track by $index ">
                    <md-button class="md-primary md-button md-ink-ripple" target="_blank"
                               ng-href="{{link.link}}" ng-disabled="checkSocial(link.name)">
                        {{link.name}}
                    </md-button>
                </span>
            </md-card-actions>

        </md-card>
    </div>
    <div flex-xs="" flex-gt-xs="50" layout="column">
        <md-card class="md-padding">
            <form ng-submit="AdditionalInfoSubmit()">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Additional Info</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <div>
                        <md-input-container class="md-block">
                            <label>First Name</label>
                            <input type="text" name="first_name" id="user-first-name"
                                   ng-model="userAdditionData.first_name">
                        </md-input-container>
                        <md-input-container class="md-block">
                            <label>Last Name</label>
                            <input type="text" name="last_name" id="user-last-name"
                                   ng-model="userAdditionData.last_name">
                        </md-input-container>
                        <md-input-container class="md-block">
                            <label>Department</label>
                            <input type="text" name="department" id="user-department"
                                   ng-model="userAdditionData.department">
                        </md-input-container>
                        <md-input-container class="md-block">
                            <label>Specialization</label>
                            <input type="text" name="specialization" id="user-specialization"
                                   ng-model="userAdditionData.specialization">
                        </md-input-container>
                        <md-input-container class="md-block">
                            <label>Detailed Info</label>
                            <textarea name="detailed_info" id="user-detailed-info"
                                      ng-model="userAdditionData.detailed_info"></textarea>
                        </md-input-container>
                        <md-input-container class="checkboxdemoBasicUsage" ng-app="MyApp" >
                            <md-checkbox ng-model="userAdditionData.use_gravatar" aria-label="Use gravatar">
                                Use gravatar
                            </md-checkbox>
                        </md-input-container>
                    </div>
                </md-card-content>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button class="md-primary md-button md-ink-ripple md-raised" type="submit">Save</md-button>
                </md-card-actions>
            </form>
        </md-card>

        <!--userPersonalData:-->
        <!--<pre>{{ userPersonalData | json }}</pre>-->

    </div>

    <script type="text/ng-template" id="personal-save-template.html">
        <md-toast>
            <span class="md-toast-text" flex>Saved!</span>
            <md-button ng-click="closeToast()">
                Close
            </md-button>
            </md-toast>
    </script>

    <script type="text/ng-template" id="personal-reject-template.html">
        <md-toast>
            <span class="md-toast-text" flex>Any change!</span>
            <md-button ng-click="closeToast()">
                Close
            </md-button>
            </md-toast>
    </script>

    <script type="text/ng-template" id="change_pwd.tmpl.html">
        <md-dialog aria-label="Change password form" flex-gt-xs="80" flex-gt-sm="60" flex-gt-md="25" flex-gt-lg="15" id="change_pwd_view" ng-controller="PasswordchangeCtrl">
           <form role="form" name="changePwdForm" novalidate ng-submit="changePassword(changePwdForm)">
                <md-toolbar>
                    <div class="md-toolbar-tools">
                        <h2>Change password</h2>
                        <span flex="" class="flex"></span>
                        <button class="md-icon-button md-button md-ink-ripple" type="button"
                                ng-click="cancel()">
                            <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"
                                     class="ng-scope ng-isolate-scope" aria-hidden="true">
                                <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 24 24"
                                     fit="" preserveAspectRatio="xMidYMid meet" focusable="false">
                                    <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"></path>
                                </svg>
                            </md-icon>
                        </button>
                    </div>
                </md-toolbar>
                <md-dialog-content class="md-dialog-content" role="document" tabindex="-1" id="dialogContent_1">
                    <md-content layout-padding="">
                        <div>
                            <md-input-container class="md-block">
                                <label>New password</label>
                                <input type="password" name="new_password1" id="new_password1" ng-model="model.new_password1" md-autofocus required ng-keydown="resetErrors('non_field_errors')">
                                <div ng-messages="changePwdForm.new_password1.$error">
                                    <div ng-message="required">This is required.</div>
                                </div>
                                <span class="alert" ng-repeat="error in errors.non_field_errors">{{error}}</span>
                                <span class="alert" ng-if="error">{{error}}</span>
                            </md-input-container>
                            <md-input-container class="md-block">
                                <label>Retype new password</label>
                                <input type="password" name="new_password2" id="new_password2" ng-model="model.new_password2" required ng-keydown="resetErrors('new_password2')">
                                <div ng-messages="changePwdForm.new_password2.$error">
                                    <div ng-message="required">This is required.</div>
                                </div>
                                <span class="alert" ng-repeat="error in errors.new_password2 ">{{error}}</span>
                            </md-input-container>
                        </div>
                    </md-content>
                </md-dialog-content>
                <md-dialog-actions layout="row">
                    <md-button ng-click="cancel()">
                        Cancel
                    </md-button>
                    <md-button type="submit" style="margin-right:20px;">
                        Change password
                    </md-button>
                </md-dialog-actions>
            </form>
        </md-dialog>
    </script>

</md-content>