<md-content layout-xs="column" layout="row" class="md-padding gray-bg" ng-controller="tasksCtrl" >
    <div flex layout="column" ng-controller="nutritionController">

        <md-card>

            <md-toolbar class="md-table-toolbar md-default" ng-hide="options.rowSelection && selected.length">
                <div class="md-toolbar-tools">
                    <label>Tasks <input class="search-style" type='text' ng-model='filter.search' placeholder="Search task"></label>
                        <md-switch ng-model="showMyTasks.checked" aria-label="Switch 2" ng-true-value="true" ng-false-value="false" class="md-warn">
                            My tasks
                        </md-switch>
                        <md-select placeholder="select projects" ng-model="showMyProjectTasks.project">
                            <md-option  ng-value="task.project_obj.id" ng-repeat="task in task_list = all_project.concat(tasks.data) | filter: onlyMyProjectTasks">{{task.project_obj.name}}</md-option>
                        </md-select>

                        <md-select placeholder="select user" ng-model="showMyUserTasks.user">
                            <md-option  ng-value="memb.id" ng-repeat="memb in all_members.concat(members)">{{memb.username}}</md-option>
                        </md-select>

                    <tbody>
                        <tr ng-repeat="task in tasks.data | filter:criteria"></tr>
                    </tbody>

                    <div flex></div>
                    <md-button ng-href="#/user/tasks/create">Create New Task</md-button>
                    <i onMouseOver="this.style.cursor='pointer'" class="material-icons" ng-click="loadStuff(); reloadTask()" title="Refresh">replay</i>
                </div>
            </md-toolbar>

            <md-toolbar class="md-table-toolbar alternate" ng-show="options.rowSelection && selected.length">
                <div class="md-toolbar-tools">
                    <span>{{selected.length}} {{selected.length > 1 ? 'items' : 'item'}} selected</span>
                </div>
            </md-toolbar>


            <md-table-container>
                <table md-table md-row-select="options.rowSelection" ng-model="selected" md-progress="promise">
                    <thead md-head md-order="query.order" md-on-reorder="logOrder">
                        <tr md-row>
                            <th md-column md-order-by="name"><span>Task title</span></th>
                            <th md-column md-order-by="type"><span>Type</span></th>
                            <th md-column md-order-by="status"><span>Status</span></th>
                            <th md-column><span>Created by</span></th>
                            <th md-column><span>Assigned member</span></th>
                            <!--<th md-column md-order-by="members.length" md-desc><span>Members</span></th>-->
                            <th md-column md-order-by="project_obj.name" md-desc><span>Project</span></th>
                            <th md-column><span>Date created</span></th>
                            <th md-column md-order-by="deadline_date"><span>Deadline date</span></th>
                            <th md-column md-numeric md-order-by="estimate_minutes"><span>Estimate minutes</span></th>
                        </tr>
                    </thead>
                    <tbody md-body>
                        <tr md-row md-select="task" md-on-select="logItem" md-auto-select="options.autoSelect"
                            ng-repeat="task in tasks.data | filter: filter.search | filter: onlyMyTasks | filter: selectedUserTasks | filter:selectedProjectTasks | orderBy: query.order | limitTo: query.limit : (query.page -1) * query.limit">
                            <td md-cell>
                                <span class="status-ico" ng-class="task.label"></span>
                                <a ng-href="#/user/tasks/{{task.id}}" class="project-tabs-name" ng-click="func(ev,$index)">{{task.name}}</a>
                            </td>
                            <td md-cell>{{task.type}}</td>
                            <td md-cell>{{task.status.name}}</td>
                            <td md-cell><a ng-href="#" ng-click="changeUserLocation($event,task.owner.id)" class="user-link-name">{{task.owner.username}}</a></td>
                            <td md-cell>
                                <a ng-href="#" ng-click="changeUserLocation($event,task.assigned_member_info.id)" class="user-link-name">{{task.assigned_member_info.username}}</a>

<!--button and popover for task members-->
                                <div ng-controller="PopoverDemoCtrl">
                                    <button uib-popover-template="bsPopover.templateUrl" popover-title="{{bsPopover.title}}" popover-placement="right-center"
                                            type="button" class="btn btn-primary btn-xs pull-center"> see all members </button> <!--btn btn-default btn-xs-->

                                            <script type="text/ng-template" id="myPopoverTemplate.html">
                                                <div>
                                                    <p ng-repeat="member in task.members_info">{{ $index + 1 }}.
                                                        <a ng-href="#"  ng-click="changeUserLocation($event, member.id)" class="user-link-name">{{member.username}}</a> <br>
                                                        ({{member.email}})
                                                    </p>
                                                </div>
                                            </script>
                                </div>
<!--end-->


                            </td>
                            <!--<td md-cell>-->
                                <!--<div ng-repeat="member in task.members_info" class="member-cell">-->
                                    <!--<a ng-href="#"  ng-click="changeUserLocation($event, member.id)" class="user-link-name">{{member.username}}</a> <br>-->
                                    <!--({{member.email}})-->
                                <!--</div>-->
                            <!--</td>-->
                            <td md-cell><a ng-href="#/user/projects/{{task.project_obj.id}}" class="project-tabs-name">{{task.project_obj.name}}</a></td>
                            <td md-cell>{{task.created_at | date : 'medium'}}</td>
                            <td md-cell>{{task.deadline_date | date : 'medium'}}</td>
                            <td md-cell>{{task.estimate_minutes}}</td>
                        </tr>
                    </tbody>
                </table>
            </md-table-container>

                        <md-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{(tasks.data | filter: filter.search).length}}"
                            md-page-select="options.pageSelector" md-boundary-links="options.boundaryLinks" md-on-paginate="logPagination"></md-table-pagination>


        </md-card>

        <md-card>
            <md-tabs md-dynamic-height="" md-border-bottom="" class="project-tabs-box">

                <md-tab label="all tasks">
                    <md-content class="md-padding">
                        <div layout="row">
                            <md-input-container class="sorting-margin">
                                <label>Sort</label>
                                <md-select ng-model="tabSort.tasks">
                                    <md-option ng-repeat="opt in allTasksSortVariants" value="{{opt.value}}">{{opt.option}}</md-option>
                                </md-select>
                            </md-input-container>
                            <md-input-container class="sorting-margin">
                                <label>View</label>
                                <md-select ng-model="tabView.tasks">
                                    <md-option ng-repeat="opt in viewTaskVariants" value="{{opt}}" ng-click="viewTask(opt)">{{opt}}</md-option>
                                </md-select>
                            </md-input-container>
                        </div>

                     <md-list>
                        <md-list-item ng-repeat="task in tasks.data | orderBy: tabSort.tasks" class="project-tabs-list">
                                <span class="status-ico" ng-class="task.label"></span>
                                <p><b><a ng-href="#/user/tasks/{{task.id}}" class="project-tabs-name" ng-click="func(ev,$index)">{{task.name}}</a></b>
                                            <a ng-href="#/user/projects/{{task.project_obj.id}}" class="project-link-name">({{task.project_obj.name}})</a>
                                            user(s) assigned: <span ng-repeat="member in task.members_info"><a ng-href="#" ng-click="changeUserLocation($event, member.id)" class="project-tabs-name">{{member.username}}</a></span>
                                            (created by <a ng-href="#" ng-click="changeUserLocation($event, task.owner.id)" class="project-tabs-name">{{ task.owner.username }}</a>)
                                            - <span style="color:grey">({{task.created_at | date : 'medium' }})</span></p>
                        </md-list-item>

                        <span></span>
                     </md-list>
                    </md-content>
                </md-tab>

                <md-tab label="activity">
                    <md-content class="md-padding">
                        <div layout="row">
                            <md-input-container class="sorting-margin">
                                <label>Sort</label>
                                <md-select ng-model="tabSort.activity">
                                    <md-option ng-repeat="opt in activitySortVariants" value="{{opt.title}}" ng-click="activitySort(opt)">{{opt.title}}</md-option>
                                </md-select>
                            </md-input-container>
                            <md-input-container class="sorting-margin">
                                <label>View</label>
                                <md-select ng-model="tabView.activity">
                                    <md-option ng-repeat="opt in viewActivityVariants" value="{{opt}}" ng-click="viewActivity(opt)">{{opt}}</md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                        <md-list>
                            <md-list-item ng-repeat="activity in activities.data" class="project-tabs-list">
                                <span class="status-ico" ng-class="activity.activity_model"></span>
                                <p><b> {{ activity.message }} </b> - <a ng-href="#" ng-click="changeUserLocation($event, activity.owner.id)" class="project-tabs-name">{{ activity.owner.username }}</a><span style="color:grey">({{ activity.created_at | date : 'medium' }})</span></p>
                                <md-button class="md-secondary" ng-href="{{getTaskProject(activity)}}">View</md-button>
                            </md-list-item>
                        </md-list>
                        <span></span>
                    </md-content>
                </md-tab>

                 <md-tab label="my notifications">
                    <md-content class="md-padding">
                        <div layout="row">
                            <md-input-container class="sorting-margin">
                                <label>Sort</label>
                                <md-select ng-model="tabSort.notifications">
                                    <md-option ng-repeat="opt in notificationSortVariants" value="{{opt.title}}" ng-click="notificationSort(opt)">{{opt.title}}</md-option>
                                </md-select>
                            </md-input-container>
                            <md-input-container class="sorting-margin">
                                <label>View</label>
                                <md-select ng-model="tabView.notifications">
                                    <md-option ng-repeat="opt in viewNotificationVariants" value="{{opt}}" ng-click="viewNotification(opt)">{{opt}}</md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                        <md-list>
                            <md-list-item ng-repeat="notification in notifications.data" class="project-tabs-list">
                                <span class="status-ico" ng-class="notification.activity_model"></span>
                                <p><b> {{ notification.message }} - <a ng-href="#" ng-click="changeUserLocation($event, notification.owner.id)" class="project-tabs-name">{{ notification.owner.username }}</a><span style="color:grey">({{ notification.created_at | date : 'medium' }})</span></p>
                                <md-button class="md-secondary" ng-href="{{getTaskProject(notification)}}">View</md-button>
                            </md-list-item>
                        </md-list>
                        <span></span>
                    </md-content>
                </md-tab>

            </md-tabs>
        </md-card>
    </div>

</md-content>




