<md-content layout-xs="column" layout="row" class="md-padding gray-bg" ng-controller="taskSelectedCtrl">
    <div flex layout="column" ng-controller="nutritionController">

        <md-card>
            <md-toolbar class="md-table-toolbar md-default" ng-hide="options.rowSelection && selected.length">
                <div class="md-toolbar-tools">
                    <span>{{task.name}} ({{task.project_obj.name}})</span>
                    <div flex></div>
                        <md-button class="md-primary" ng-click="showAddStatusDialog($event)">Add status</md-button>
                        <md-button class="md-primary" ng-href="#/user/tasks/{{task.id}}/edit">Edit Task</md-button>
                    </div>
            </md-toolbar>

            <md-table-container>
                <table md-table>
                    <thead md-head>
                    <tr md-row>
                        <th md-column><span>Task title</span></th>
                        <th md-column><span>Type</span></th>
                        <th md-column><span>Status</span></th>
                        <th md-column><span>Members</span></th>
                        <th md-column><span>Project</span></th>
                        <th md-column><span>Deadline date</span></th>
                        <th md-column><span>Estimate minutes</span></th>
                        <th md-column><span>Status group</span></th>
                    </tr>
                    </thead>
                    <tbody md-body>
                    <tr md-row md-select="task" md-on-select="logItem">
                        <td md-cell class="project-link-name">{{task.name}}</td>
                        <td md-cell>{{task.type}}</td>
                        <td md-cell>{{task.status}}</td>
                        <td md-cell>
                            <p ng-repeat="member in task.members_info">
                            <a ng-href="#/user/profile/{{memeber.id}}" class="user-link-name">{{member.username}}</a> <br>
                            ({{member.email}})
                            </p>
                        </td>
                        <td md-cell><a ng-href="#" class="user-link-name">{{task.project_obj.name}}</a></td>
                        <td md-cell>{{task.deadline_date}}</td>
                        <td md-cell>{{task.estimate_minutes}}</td>
                        <td md-cell>{{task.group_data.name}}</td>
                    </tr>
                    </tbody>
                </table>
            </md-table-container>

<!-- for popup button-->
            <md-toolbar class="md-table-toolbar md-default" ng-hide="options.rowSelection && selected.length">
                <div class="md-toolbar-tools">
                    <div flex></div>
                    <md-button ng-click="popRegistr($event)">POPUP__open in popup</md-button>  <!--ng-hide="authenticated"-->
                    <md-button ng-click="popRegistr($event)">POPUP__create new task</md-button>  <!--ng-hide="authenticated"-->
                </div>
            </md-toolbar>
<!-- for popup end button-->
        </md-card>





        <md-card>
            <md-tabs md-dynamic-height="" md-border-bottom="" class="project-tabs-box">
                <md-tab label="comments">
                    <md-content class="md-padding">
                        <div layout="row">
                            <md-input-container class="sorting-margin">
                                <label>Sort</label>
                                <md-select ng-model="tabSort.taskComments">
                                    <md-option ng-repeat="opt in commentSortVariants" ng-click="commentSort(opt)" value="{{opt.value}}">{{opt.option}}</md-option>
                                </md-select>
                            </md-input-container>
                            <md-input-container class="sorting-margin">
                                <label>View</label>
                                <md-select ng-model="tabView.taskComments">
                                    <md-option ng-repeat="opt in viewCommentVariants" ng-click="viewComment(opt)" value="{{opt}}" >{{opt}}</md-option>
                                </md-select>
                            </md-input-container>
                        </div>

                        <md-list class="project-tabs-list">

                             <md-list-item ng-repeat="comment in task.comments | orderBy: tabSort.taskComments" class="secondary-button-padding"> <!--ng-click="action($event)"-->
                                    <p><a ng-href="#" ng-click="changeUserLocation($event, comment.created_by.id)" class="user-link-name">{{comment.created_by.username}}</a> added comment: <b>{{comment.title}}: {{comment.comment}}</b>
                                        <span style="color:grey"> ({{comment.created_at | date : 'medium'}}) <a ng-href="#/user/tasks/comments/{{comment.id}}">Edit</a> <a href="#" ng-click="deleteTaskCommentPopup($event, comment.id, comment.title)">Delete</a></span></p>

                            </md-list-item>
                        </md-list>

                        <md-dialog-content class="md-dialog-content" role="document" tabindex="-1" id="dialogContent_2">
                                <md-content layout-padding="">
                                    <div>
                                         <md-card class="md-padding">
                                             <form ng-submit="savetaskComment()">
                                                <md-card-title>
                                                    <md-card-title-text>
                                                        <span class="md-headline">Add comment</span>
                                                    </md-card-title-text>
                                                </md-card-title>
                                                <md-card-content>
                                                    <div>
                                                        <md-input-container class="md-block">
                                                            <label>Title</label>
                                                            <input type="text" name="title" id="comment-title" required
                                                                   ng-model="taskCommentData.title">
                                                        </md-input-container>
                                                        <md-input-container class="md-block">
                                                            <label>Comment</label>
                                                            <input type="text" name="comment" id="comment-comment" required
                                                                   ng-model="taskCommentData.comment">
                                                        </md-input-container>
                                                    </div>
                                                </md-card-content>
                                                <md-card-actions layout="row" layout-align="end center">
                                                    <md-button class="md-primary md-button md-ink-ripple md-raised" type="submit">Save</md-button>
                                                </md-card-actions>
                                            </form>
                                         </md-card>
                                    </div>
                                </md-content>
                        </md-dialog-content>
                        <span></span>
                    </md-content>
                </md-tab>

                <md-tab label="my notifications">
                    <md-content class="md-padding">
                        <div layout="row">
                            <md-input-container class="sorting-margin">
                                <label>Sort</label>
                                <md-select ng-model="tabSort.notifications">
                                    <md-option ng-repeat="opt in notificationSortVariants" value="{{opt.title}}" ng-click="notificationSort(opt)">{{opt.title}}</md-option>
                                </md-select>
                            </md-input-container>
                            <md-input-container class="sorting-margin">
                                <label>View</label>
                                <md-select ng-model="tabView.notifications">
                                    <md-option ng-repeat="opt in viewNotificationVariants" value="{{opt}}" ng-click="viewNotification(opt)">{{opt}}</md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                        <md-list>
                            <md-list-item ng-repeat="notification in notifications.data">
                                <span class="status-ico" ng-class="notification.activity_model"></span>
                                <p><b> {{ notification.message }} </b> - <a ng-href="#" ng-click="changeUserLocation($event, notification.owner.id)" class="project-tabs-name">{{ notification.owner.username }}</a><span style="color:grey">({{ notification.created_at | date : 'medium' }})</span></p>
                                <md-button class="md-secondary" ng-href="{{getTaskProject(notification)}}">View</md-button>
                            </md-list-item>
                        </md-list>
                        <span></span>
                    </md-content>
                </md-tab>

                <md-tab label="activity">
                    <md-content class="md-padding">
                        <div layout="row">
                            <md-input-container class="sorting-margin">
                                <label>Sort</label>
                                <md-select ng-model="tabSort.activity">
                                    <md-option ng-repeat="opt in activitySortVariants" value="{{opt.title}}" ng-click="activitySort(opt)">{{opt.title}}</md-option>
                                </md-select>
                            </md-input-container>
                            <md-input-container class="sorting-margin">
                                <label>View</label>
                                <md-select ng-model="tabView.activity">
                                    <md-option ng-repeat="opt in viewActivityVariants" value="{{opt}}" ng-click="viewActivity(opt)">{{opt}}</md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                        <md-list>
                            <md-list-item class="project-tabs-list" ng-repeat="activity in activities.data">
                                <span class="status-ico" ng-class="activity.activity_model"></span>
                                <p><b> {{ activity.message }} </b> - <a ng-href="#" class="project-tabs-name">{{ activity.owner.username }}</a><span style="color:grey">({{ activity.created_at | date : 'medium' }})</span></p>
                                <md-button class="md-secondary" ng-href="{{getTaskProject(activity)}}">View</md-button>
                            </md-list-item>
                        </md-list>
                        <span></span>
                    </md-content>
                </md-tab>

                <md-tab label="description">
                    <md-content class="md-padding">
                        <md-list class="project-tabs-list">
                                <p><b>Task description</b></p>
                                <p>{{task.description}}</p>
                        </md-list>
                        <div class="md-toolbar-tools">
                            <div flex></div>
                            <md-button ng-click="">edit description (test)</md-button>
                        </div>
                    </md-content>
                </md-tab>

                <md-tab label="members">
                    <md-content class="md-padding">
                        <md-list class="project-tabs-list">
                            <md-list-item ng-repeat="member in task.members" class="secondary-button-padding">
                                <p>member's_pic /<a ng-href="#" class="project-tabs-name" ng-click="changeUserLocation($event, member.id)">{{member.username}}</a>({{member.email}})</p> <!--ng-click="changeUserLocation($event, member.id)"-->
                            </md-list-item>
                        </md-list>

                        <div class="md-toolbar-tools">
                            <div flex></div>
                            <md-button ng-click="">EDD / DELETE (test)</md-button>
                        </div>
                    </md-content>
                </md-tab>
                <!--<md-tab label="Statuses">-->
                    <!--<md-content class="md-padding">-->
                        <!--<div layout="row">-->
                            <!--<md-input-container class="sorting-margin">-->
                                <!--<label>Sort</label>-->
                                <!--<md-select ng-model="tabSort.status">-->
                                    <!--<md-option ng-repeat="opt in statusSortVariants" value="{{opt.title}}" ng-click="statusSort(opt)">{{opt.title}}</md-option>-->
                                <!--</md-select>-->
                            <!--</md-input-container>-->
                            <!--<md-input-container class="sorting-margin">-->
                                <!--<label>View</label>-->
                                <!--<md-select ng-model="tabView.status">-->
                                    <!--<md-option ng-repeat="opt in viewStatusVariants" value="{{opt}}" ng-click="viewStatus(opt)">{{opt}}</md-option>-->
                                <!--</md-select>-->
                            <!--</md-input-container>-->
                        <!--</div>-->
                        <!--<md-table-container>-->
                            <!--<table md-table>-->
                                <!--<thead md-head>-->
                                    <!--<tr md-row>-->
                                        <!--<th md-column><b>#</b></th>-->
                                        <!--<th md-column><b>STATUS NAME</b></th>-->
                                        <!--<th md-column><b>ORDER NUMBER</b></th>-->
                                        <!--<th md-column><b>EDIT</b></th>-->
                                        <!--<th md-column><b>DELETE</b></th>-->
                                    <!--</tr>-->
                                <!--</thead>-->

                                <!--<tr md-row ng-repeat="status in statuses">-->
                                    <!--<td md-cell>{{ $index + 1 }}</td>-->
                                    <!--<td md-cell>{{ status.name }}</td>-->
                                    <!--<td md-cell>{{ status.order_number }}</td>-->
                                    <!--<td md-cell><md-button class="md-secondary" ng-click="viewSelectedStatus($event, status.id)">Edit</md-button></td>-->
                                    <!--<td md-cell><md-button class="md-secondary" ng-click="deleteStatusPopup($event, status.id, status.name)">Delete</md-button></td>-->
                                <!--</tr>-->
                            <!--</table>-->
                        <!--</md-table-container>-->
                        <!--<span></span>-->
                    <!--</md-content>-->
                <!--</md-tab>-->

            </md-tabs>
        </md-card>
    </div>





<!-- for popup -->
<!-- Registration modal -->
<script type="text/ng-template" id="register.tmpl.html">
    <md-dialog aria-label="login" flex-gt-xs="80" flex-gt-sm="60" flex-gt-md="60" flex-gt-lg="60" id="register_view" ng-controller="taskSelectedCtrl">
       <form role="form" name="registerForm" novalidate ng-submit="register(registerForm)">
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h2>{{task.name}} <a ng-href="#">({{task.project_obj.name}})</a></h2>
                    <span flex="" class="flex"></span>
                    <button class="md-icon-button md-button md-ink-ripple" type="button"
                            ng-click="cancel()">
                        <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"
                                 class="ng-scope ng-isolate-scope" aria-hidden="true">
                            <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 24 24"
                                 fit="" preserveAspectRatio="xMidYMid meet" focusable="false">
                                <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"></path>
                            </svg>
                        </md-icon>
                    </button>
                </div>
            </md-toolbar>



                <md-tabs md-dynamic-height="" md-border-bottom="" class="project-tabs-box">


                    <md-tab label="comments">
                        <md-content class="md-padding">
                            <div layout="row">
                                <md-input-container class="sorting-margin">
                                    <label>Sort</label>
                                    <md-select ng-model="tabSort.tasks">
                                        <md-option ng-repeat="opt in sortVariants" value="{{opt.value}}">{{opt.option}}</md-option>
                                    </md-select>
                                </md-input-container>
                                <md-input-container class="sorting-margin">
                                    <label>View</label>
                                    <md-select ng-model="tabView.tasks">
                                        <md-option ng-repeat="opt in viewVariants" value="{{opt}}">{{opt}}</md-option>
                                    </md-select>
                                </md-input-container>
                            </div>

                            <md-list class="project-tabs-list">
                                    <md-list-item ng-repeat="comment in task.comments | orderBy: tabSort.tasks" class="secondary-button-padding" ng-click="action($event)">
                                        <p><a ng-href="#" class="user-link-name">{{comment.created_by.username}}</a> added comment: <a ng-href="#" class="project-link-name">{{comment.title}}</a><span style="color:grey"> ({{comment.created_at | date : 'medium'}}) </span></p>
                                    </md-list-item>

                                <!--<md-list-item ng-repeat="my_tsk in my_tsks" class="secondary-button-padding" ng-click="action($event)">-->
                                    <!--<span class="status-ico" ng-class="my_tsk.status"></span>-->
                                    <!--<p><b> {{ my_tsk.name }} </b> - <a ng-href="#" class="project-tabs-name">{{ my_tsk.user }}</a> {{my_tsk.action}} for <b> {{my_tsk.project}} </b></p>-->
                                <!--</md-list-item>-->

                            </md-list>
                            <span></span>


                            <md-dialog-content class="md-dialog-content" role="document" tabindex="-1" id="dialogContent_2">
                                <md-content layout-padding="">
                                    <div>

                                        <form name="myForm">
                                            <md-input-container class="md-block">
                                                <label>Add a commmment</label>
                                                <textarea md-autofocus ng-keydown="resetErrors('username')"></textarea>
                                                <span class="alert" ng-repeat="error in errors.username">{{error}}</span>
                                            </md-input-container>
                                            <md-card-actions layout="row" layout-align="end center">
                                                <md-button class="md-primary md-button md-ink-ripple md-raised" type="submit">Save</md-button>
                                            </md-card-actions>
                                        </form>

                                    </div>
                                </md-content>
                            </md-dialog-content>
                    </md-content>
                    </md-tab>

                    <md-tab label="my notifications">
                    <md-content class="md-padding">
                        <div layout="row">
                            <md-input-container class="sorting-margin">
                                <label>Sort</label>
                                <md-select ng-model="tabSort.notifications">
                                    <md-option ng-repeat="opt in notificationSortVariants" value="{{opt.title}}" ng-click="notificationSort(opt)">{{opt.title}}</md-option>
                                </md-select>
                            </md-input-container>
                            <md-input-container class="sorting-margin">
                                <label>View</label>
                                <md-select ng-model="tabView.notifications">
                                    <md-option ng-repeat="opt in viewNotificationVariants" value="{{opt}}" ng-click="viewNotification(opt)">{{opt}}</md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                        <md-list>
                            <md-list-item ng-repeat="notification in notifications.data">
                                <span class="status-ico" ng-class="notification.activity_model"></span>
                                <p><b> {{ notification.message }} </b> - <a ng-href="#" ng-click="changeUserLocation($event, notification.owner.id)" class="project-tabs-name">{{ notification.owner.username }}</a><span style="color:grey">({{ notification.created_at | date : 'medium' }})</span></p>
                                <md-button class="md-secondary" ng-click="doSecondaryAction($event)">View</md-button>
                            </md-list-item>
                        </md-list>
                        <span></span>
                    </md-content>
                    </md-tab>

                    <md-tab label="activity">
                             <md-content class="md-padding">
                            <div layout="row">
                                <md-input-container class="sorting-margin">
                                    <label>Sort</label>
                                    <md-select ng-model="tabSort.tasks">
                                        <md-option ng-repeat="opt in sortVariants" value="{{opt.value}}">{{opt.option}}</md-option>
                                    </md-select>
                                </md-input-container>
                                <md-input-container class="sorting-margin">
                                    <label>View</label>
 <!--stage-->
                                    <md-select ng-model="tabView.tasks">
                                        <md-option ng-repeat="opt in viewVariants" value="{{opt}}">{{opt}}</md-option>
 <!--local-->
                                       <!--<md-select ng-model="tabView.activity">-->
                                       <!--<md-option ng-repeat="opt in viewActivityVariants" value="{{opt}}" ng-click="viewActivity(opt)">{{opt}}</md-option>-->
                                           
                                    </md-select>
                                </md-input-container>
                            </div>
                            <md-list class="project-tabs-list">

<!--stage-->
                                <md-list-item ng-repeat="activity in task.activity | orderBy: tabSort.tasks" class="secondary-button-padding" ng-click="action($event)">
                                    <p>Activvvity: {{activity}} {{activity.created_at}}</p>
                                </md-list-item>
<!--local-->
                                <!--<md-list-item ng-repeat="activity in activities.data">-->
                                    <!--<span class="status-ico" ng-class="activity.activity_model"></span>-->
                                    <!--<p><b> {{ activity.message }} </b> - {{ activity.owner.username }} <span style="color:grey">({{ activity.created_at | date : 'medium' }})</span></p>-->
                                    <!--<md-button class="md-secondary" ng-click="doSecondaryAction($event)">View</md-button>-->
                                <!--</md-list-item>-->
                                
                            </md-list>
                            <span></span>


                            <md-list>
                            <md-list-item ng-repeat="activity in activities.data">
                                <span class="status-ico" ng-class="activity.activity_model"></span>
                                <p><b> {{ activity.message }} </b> - {{ activity.owner.username }} <span style="color:grey">({{ activity.created_at | date : 'medium' }})</span></p>
                                <md-button class="md-secondary" ng-click="doSecondaryAction($event)">View</md-button>
                            </md-list-item>
                            </md-list>
                            <span></span>


                    </md-content>
                    </md-tab>

                    <md-tab label="description">
                             <md-content class="md-padding">
                                 <md-list class="project-tabs-list">
                                         <p><b> Task description </b></p>
                                         <p>{{task.description}}</p>
                                 </md-list>
                                 <div class="md-toolbar-tools">
                                     <div flex></div>
                                     <md-button ng-click="">edit description (test)</md-button>
                                 </div>
                             </md-content>
                    </md-tab>


                    <md-tab label="members">
                        <md-content class="md-padding">
                            <md-list class="project-tabs-list">
                                <md-list-item ng-repeat="member in task.members" class="secondary-button-padding" ng-click="action($event)">
                                    <p>member's_pic /<a ng-href="#" class="project-tabs-name">{{member.username}}</a>({{member.email}})</p>
                                </md-list-item>
                            </md-list>

                            <div class="md-toolbar-tools">
                                <div flex></div>
                                <md-button ng-click="">EDD / DELETE (test)</md-button>
                            </div>
                        </md-content>
                    </md-tab>

                </md-tabs>

<!--Open as a full page-->
            <!--<md-dialog-actions layout="row">-->
                <!--<md-button type="submit" style="margin-right:20px;">-->
                    <!--<a ng-href="#/user/tasks/{{task.id}}" class="project-tabs-name" ng-click="func(ev,$index)">Open as a full page</a>-->
                <!--</md-button>-->
            <!--</md-dialog-actions>-->

       </form>
    </md-dialog>
</script>
<!-- Registration modal end -->



</md-content>




