<md-content layout-xs="column" layout="row" class="md-padding gray-bg" ng-controller="taskSelectedCtrl">
    <div flex layout="column" ng-controller="nutritionController">

        <md-card>
            <md-toolbar class="md-table-toolbar md-default" ng-hide="options.rowSelection && selected.length">
                <div class="md-toolbar-tools">
                    <span>{{taskData.name}} ({{taskData.project_obj.name}})</span>
                    <div flex></div>
                        <md-button class="md-primary" ng-href="#/user/tasks/{{taskData.id}}/edit">Edit Task</md-button>
                </div>
            </md-toolbar>

            <md-table-container>
                <table md-table>
                    <thead md-head>
                    <tr md-row>
                        <th md-column><span>Task title</span></th>
                        <th md-column><span>Project</span></th>
                        <th md-column><span>Type</span></th>
                        <th md-column><span>Status</span></th>
                        <th md-column><span>Created by</span></th>
                        <th md-column><span>Assigned member</span></th>
                        <!--<th md-column><span>Members</span></th>-->
                        <th md-column><span>Date created</span></th>
                        <th md-column><span>Deadline date</span></th>
                        <th md-column><span>Estimate minutes</span></th>
                    </tr>
                    </thead>
                    <tbody md-body>
                    <tr md-row md-select="taskData" md-on-select="logItem">
                        <td md-cell class="project-link-name">{{taskData.name}}</td>
                        <td md-cell><a ng-href="#/user/projects/{{taskData.project_obj.id}}" class="user-link-name">{{taskData.project_obj.name}}</a></td>
                        <td md-cell>{{taskData.type}}</td>
                        <td md-cell>{{taskData.status.name}}</td>
                        <td md-cell><a ng-href="#" ng-click="changeUserLocation($event,taskData.owner.id)" class="user-link-name">{{taskData.owner.username}}</a></td>
                        <td md-cell><a ng-href="#" ng-click="changeUserLocation($event,taskData.assigned_member_info.id)" class="user-link-name">{{taskData.assigned_member_info.username}}</a>

<!--button and popover for task members-->
                            <div ng-controller="PopoverDemoCtrl">
                                <button uib-popover-template="bsPopover.templateUrl" popover-title="{{bsPopover.title}}" popover-placement="right-center"
                                        type="button" class="btn btn-primary btn-xs pull-center"> see all members </button> <!--btn btn-default btn-xs-->

                                        <script type="text/ng-template" id="myPopoverTemplate.html">
                                            <div>
                                                <p ng-repeat="member in taskData.members_info">{{ $index + 1 }}.
                                                    <a ng-href="#"  ng-click="changeUserLocation($event, member.id)" class="user-link-name">{{member.username}}</a> <br>
                                                    ({{member.email}})
                                                </p>
                                            </div>
                                        </script>
                            </div>
<!--end-->
                        </td>
                        <!--<td md-cell>-->
                            <!--<p ng-repeat="member in task.members_info">-->
                            <!--<a ng-href="#"  ng-click="changeUserLocation($event, member.id)" class="user-link-name">{{member.username}}</a> <br>-->
                            <!--({{member.email}})-->
                            <!--</p>-->
                        <!--</td>-->

                        <td md-cell>{{taskData.created_at | date : 'medium'}}</td>
                        <td md-cell>{{taskData.deadline_date | date : 'medium'}}</td>
                        <td md-cell>{{taskData.estimate_minutes}}</td>
                    </tr>
                    </tbody>
                </table>
            </md-table-container>

<!-- for popup button-->
            <!--<md-toolbar class="md-table-toolbar md-default" ng-hide="options.rowSelection && selected.length">-->
                <!--<div class="md-toolbar-tools">-->
                    <!--<div flex></div>-->
                    <!--<md-button ng-click="popRegistr($event)">POPUP__open in popup</md-button>  &lt;!&ndash;ng-hide="authenticated"&ndash;&gt;-->
                    <!--<md-button ng-click="popRegistr($event)">POPUP__create new task</md-button>  &lt;!&ndash;ng-hide="authenticated"&ndash;&gt;-->
                <!--</div>-->
            <!--</md-toolbar>-->
<!-- for popup end button-->
        </md-card>


        <md-card>
            <md-tabs md-dynamic-height="" md-border-bottom="" class="project-tabs-box">
                <md-tab label="comments">
                    <md-content class="md-padding">
                        <div layout="row">
                            <md-input-container class="sorting-margin">
                                <label>Sort</label>
                                <md-select ng-model="tabSort.taskComments">
                                    <md-option ng-repeat="opt in commentSortVariants" ng-click="commentSort(opt)" value="{{opt.value}}">{{opt.option}}</md-option>
                                </md-select>
                            </md-input-container>
                            <md-input-container class="sorting-margin">
                                <label>View</label>
                                <md-select ng-model="tabView.taskComments">
                                    <md-option ng-repeat="opt in viewCommentVariants" ng-click="viewComment(opt)" value="{{opt}}" >{{opt}}</md-option>
                                </md-select>
                            </md-input-container>
                        </div>

                        <md-list class="project-tabs-list">

                             <md-list-item ng-repeat="comment in taskData.comments | orderBy: tabSort.taskComments" class="secondary-button-padding"> <!--ng-click="action($event)"-->
                                    <a ng-href="#" ng-click="changeUserLocation($event,comment.created_by.id)" class="user-link-name">
                                        <span ng-if="comment.created_by.photo">
                                            <img ng-src="{{ comment.created_by.photo }}" class="resize" title="{{comment.created_by.username}}" />
                                        </span>
                                        <span ng-if="!comment.created_by.photo">
                                            {{comment.created_by.username}}
                                        </span>
                                        </a>{{comment.created_by.username}} added comment:<b>{{comment.comment}}</b>
                                        <span style="color:grey"> ({{comment.created_at | date : 'medium'}}) <a ng-if="userPersonalData.id === comment.created_by.id" ng-href="#/user/tasks/comments/{{comment.id}}">Edit</a> <a href="#" ng-if="userPersonalData.id === comment.created_by.id" ng-click="deleteTaskCommentPopup($event, comment.id, comment.title)">Delete</a></span>
                             </md-list-item>
                        </md-list>

                        <md-card-actions layout="row" layout-align="end center">
                            <md-button class="md-primary md-button md-ink-ripple md-raised" type="submit" ng-click="showAddCommentDialog($event)">Add comment</md-button>
                        </md-card-actions>
                        <span></span>
                    </md-content>
                </md-tab>

                <md-tab label="my notifications">
                    <md-content class="md-padding">
                        <div layout="row">
                            <md-input-container class="sorting-margin">
                                <label>Sort</label>
                                <md-select ng-model="tabSort.notifications">
                                    <md-option ng-repeat="opt in notificationSortVariants" value="{{opt.title}}" ng-click="notificationSort(opt)">{{opt.title}}</md-option>
                                </md-select>
                            </md-input-container>
                            <md-input-container class="sorting-margin">
                                <label>View</label>
                                <md-select ng-model="tabView.notifications">
                                    <md-option ng-repeat="opt in viewNotificationVariants" value="{{opt}}" ng-click="viewNotification(opt)">{{opt}}</md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                        <md-list>
                            <md-list-item ng-repeat="notification in notifications.data">
                                <span class="status-ico" ng-class="notification.activity_model"></span>
                                <p><b> {{ notification.message }} </b> - <a ng-href="#" ng-click="changeUserLocation($event, notification.owner.id)" class="project-tabs-name">{{ notification.owner.username }}</a><span style="color:grey">({{ notification.created_at | date : 'medium' }})</span></p>
                                <md-button class="md-secondary" ng-href="{{getTaskProject(notification)}}">View</md-button>
                            </md-list-item>
                        </md-list>
                        <span></span>
                    </md-content>
                </md-tab>

                <md-tab label="activity">
                    <md-content class="md-padding">
                        <div layout="row">
                            <md-input-container class="sorting-margin">
                                <label>Sort</label>
                                <md-select ng-model="tabSort.activity">
                                    <md-option ng-repeat="opt in activitySortVariants" value="{{opt.title}}" ng-click="activitySort(opt)">{{opt.title}}</md-option>
                                </md-select>
                            </md-input-container>
                            <md-input-container class="sorting-margin">
                                <label>View</label>
                                <md-select ng-model="tabView.activity">
                                    <md-option ng-repeat="opt in viewActivityVariants" value="{{opt}}" ng-click="viewActivity(opt)">{{opt}}</md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                        <md-list>
                            <md-list-item class="project-tabs-list" ng-repeat="activity in activities.data">
                                <span class="status-ico" ng-class="activity.activity_model"></span>
                                <p><b> {{ activity.message }} </b> - <a ng-href="#" class="project-tabs-name">{{ activity.owner.username }}</a><span style="color:grey">({{ activity.created_at | date : 'medium' }})</span></p>
                                <md-button class="md-secondary" ng-href="{{getTaskProject(activity)}}">View</md-button>
                            </md-list-item>
                            <!--<md-list-item class="project-tabs-list" ng-repeat="activity in task.activity">-->
                                <!--&lt;!&ndash;<span class="status-ico" ng-class="activity.activity_model"></span>&ndash;&gt;-->
                                <!--<p><b> {{ activity }} </b>-->
                                <!--&lt;!&ndash;<md-button class="md-secondary" ng-href="{{getTaskProject(activity)}}">View</md-button>&ndash;&gt;-->
                            <!--</md-list-item>-->
                        </md-list>
                        <span></span>
                    </md-content>
                </md-tab>

                <md-tab label="description">
                    <div class="md-toolbar-tools">
                        <span>Description for {{taskData.name}} </span>
                        <div flex></div>

<!-- display BUTTON only for task creator -->
                        <div ng-show="user.url == taskData.created_by">
                                <md-card-actions layout="row" layout-align="end center">
                                        <md-button class="md-primary md-button md-ink-ripple md-raised" type="submit" ng-click="showEditDescriptionDialog($event)">Edit description</md-button>
                                </md-card-actions>
                            <!--<md-button class="md-primary" ng-click="showEditDescriptionDialog($event)">Edit description</md-button>-->
                        </div>
                    </div>

                    <md-content class="md-padding">
                        <md-list class="project-tabs-list">
                                <p>{{taskCopy.description}}</p>
                        </md-list>
                    </md-content>
                </md-tab>                
                
                
                <md-tab label="members">

                    <div class="md-toolbar-tools">
                        <span>Task members</span>
                        <div flex></div>

<!-- display BUTTON only for task creator -->
                        <div ng-show="user.url == taskData.created_by">

                                <md-card-actions layout="row" layout-align="end center">
                                        <md-button class="md-primary md-button md-ink-ripple md-raised" type="submit" ng-click="showAddDeleteMembersDialog($event)">Add/delete members</md-button>
                                </md-card-actions>

                            <!--<md-button class="md-primary" ng-click="showAddStatusDialog($event)">Add/delete members</md-button>-->
                            <!--<md-button class="md-primary" ng-href="#/user/tasks/{{task.id}}/edit">edit task</md-button>-->
                        </div>

                    </div>

                    <md-content class="md-padding">
                        <md-list class="project-tabs-list">
                            <md-list-item ng-repeat="member in taskData.members_info" class="secondary-button-padding">
                                <div>
                                    <img ng-src='{{member.photo}}' class='resize' alt="User avatar" />
                                </div>
                                -
                                <a ng-href="#" class="project-tabs-name" ng-click="changeUserLocation($event, member.id)"> {{member.username}}</a>({{member.email}})<!--ng-click="changeUserLocation($event, member.id)"-->
                            </md-list-item>
                        </md-list>
                    </md-content>

                        <div class="md-toolbar-tools">
                            <span>Assigned member</span>
                        </div>

                    <md-content class="md-padding">
                            <div>
                                <a ng-href="#" ng-click="changeUserLocation($event,taskData.assigned_member_info.id)" class="user-link-name">{{taskData.assigned_member_info.username}}</a>
                            </div>
                    </md-content>



<!-- display only for task creator -->
                        <!--<div ng-show="user.url == task.created_by">-->

                            <!--<md-card class="md-padding">-->
                                <!--<form name="save_task" ng-submit="save_task.$valid && saveTask()">-->
                                    <!--<md-card-title>-->
                                        <!--<md-card-title-text>-->
                                            <!--<span class="md-headline">Add/delete members</span>-->
                                        <!--</md-card-title-text>-->
                                    <!--</md-card-title>-->
                                    <!--<md-card-content>-->
                                        <!--<div>-->
                                            <!--<div class="chipsdemoContactChips" ng-controller="userChipsCtrl as ctrl" layout="column" ng-cloak>-->
                                                <!--<md-content class="md-padding autocomplete" layout="column">-->
                                                    <!--<md-contact-chips-->
                                                        <!--ng-model="taskData.members_info"-->
                                                        <!--md-contacts="ctrl.delayedQuerySearch($query)"-->
                                                        <!--md-contact-name="username"-->
                                                        <!--md-contact-email="email"-->
                                                        <!--md-contact-image="photo"-->
                                                        <!--md-require-match="true"-->
                                                        <!--md-highlight-flags="i"-->
                                                        <!--filter-selected="ctrl.filterSelected"-->
                                                        <!--placeholder="Members">-->
                                                    <!--</md-contact-chips>-->
                                                <!--</md-content>-->
                                            <!--</div>-->
                                            <!--<div>-->
                                                <!--<md-input-container class="md-block">-->
                                                <!--<label>Assigned member</label>-->
                                                    <!--<md-select ng-model="taskData.assigned_member">-->
                                                        <!--<md-option ng-repeat="member in taskData.members_info" ng-value="member.id">{{ member.username }}</md-option>-->
                                                    <!--</md-select>-->
                                                <!--</md-input-container>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                    <!--</md-card-content>-->
                                    <!--<md-card-actions layout="row" layout-align="end center">-->
                                        <!--<md-button class="md-primary md-button md-ink-ripple md-raised" type="submit">Save</md-button>-->
                                    <!--</md-card-actions>-->
                                <!--</form>-->
                            <!--</md-card>-->

                        <!--</div>-->

                 </md-tab>
                
                <md-tab label="upload files">
                    <md-content class="md-padding">
                        <md-list class="project-tabs-list">
                             <md-list-item ng-repeat="file in taskData.files" class="secondary-button-padding"> <!--ng-click="action($event)"-->
                                 <img ng-src="{{file.file_upload}}" class="resize2" alt="{{getFileName(file.file_upload)}}" >
                                 <p><a target="_self" class="user-link-name" ng-href="{{file.file_upload}}" download="{{getFileName(file.file_upload)}}"> {{getFileName(file.file_upload)}}</a><a href="#" ng-click="deleteFilePopup($event, file.id, file.file_upload, $index)">Delete</a></p>
                                        <!--<span style="color:grey"> ({{comment.created_at | date : 'medium'}}) <a ng-href="#/user/tasks/comments/{{comment.id}}">Edit</a> <a href="#" ng-click="deleteTaskCommentPopup($event, comment.id, comment.title)">Delete</a></span></p>-->
                                <!--<img ng-src="{{file.file_upload}}" class="resize2" alt="{{getFileName(file.file_upload)}}">-->
                             </md-list-item>
                            <!--<md-list-item class="md-3-line" ng-repeat="file in task.files">-->
                                <!--<img ng-src="{{getFileName(file.file_upload)}}" class="md-avatar" alt="{{getFileName(file.file_upload)}}">-->
                                <!--<div class="md-list-item-text" layout="column">-->

                                <!--</div>-->
                              <!--</md-list-item>-->
                        </md-list>
                        <lf-ng-md-file-input lf-files="files" multiple preview></lf-ng-md-file-input>
                        <md-button type="button"  class="md-raised md-primary" ng-click="onSubmit()">Submit</md-button>
                    </md-content>

                </md-tab>
               
                
            </md-tabs>
        </md-card>
    </div>


       </form>
    </md-dialog>


    <script type="text/ng-template" id="add_comment.tmpl.html">
        <md-dialog aria-label="Add comment form" flex="100" flex-xs="100" fkex-sm="100" flex-md="70" flex-lg="40" flex-gt-lg="40" id="change_pwd_view">
           <form role="form" name="addCommentForm" ng-submit="savetaskComment()">
                <md-toolbar>
                    <div class="md-toolbar-tools">
                        <h2>Add comment</h2>
                        <span flex="" class="flex"></span>
                        <button class="md-icon-button md-button md-ink-ripple" type="button"
                                ng-click="cancel()">
                            <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"
                                     class="ng-scope ng-isolate-scope" aria-hidden="true">
                                <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 24 24"
                                     fit="" preserveAspectRatio="xMidYMid meet" focusable="false">
                                    <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"></path>
                                </svg>
                            </md-icon>
                        </button>
                    </div>
                </md-toolbar>
                <md-dialog-content class="md-dialog-content" role="document" tabindex="-1" id="dialogContent_1">
                    <md-content layout-padding="">
                        <div>
                            <md-input-container class="md-block">
                                <label>Comment</label>
                                <input type="text" name="comment" ng-model="comment_text" md-autofocus required>
                                <div ng-messages="addCommentForm.comment_name.$error">
                                    <div ng-message="required">This field is required.</div>
                                </div>
                                <span class="alert" ng-repeat="error in errors.non_field_errors">{{error}}</span>
                                <span class="alert" ng-if="error">{{error}}</span>
                            </md-input-container>
                        </div>
                    </md-content>
                </md-dialog-content>
                <md-dialog-actions layout="row">
                    <md-button ng-click="cancel()">
                        Cancel
                    </md-button>
                    <md-button type="submit" style="margin-right:20px;">
                        Add
                    </md-button>
                </md-dialog-actions>
           </form>
        </md-dialog>
    </script>


    <script type="text/ng-template" id="edit_description.tmpl.html">
        <md-dialog aria-label="edit_description" flex="100" flex-xs="100" fkex-sm="100" flex-md="70" flex-lg="40" flex-gt-lg="40" id="change_pwd_view">
           <form role="form" name="save_task" ng-submit="save_task.$valid && saveTask()">
                <md-toolbar>
                    <div class="md-toolbar-tools">
                        <h2>Edit description</h2>
                        <span flex="" class="flex"></span>
                        <button class="md-icon-button md-button md-ink-ripple" type="button" ng-click="cancel()">
                            <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog" class="ng-scope ng-isolate-scope" aria-hidden="true">
                                <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 24 24"
                                     fit="" preserveAspectRatio="xMidYMid meet" focusable="false">
                                    <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"></path>
                                </svg>
                            </md-icon>
                        </button>
                    </div>
                </md-toolbar>
                <md-dialog-content class="md-dialog-content" role="document" tabindex="-1" id="dialogContent_1">
                    <md-content layout-padding="">
                        <div>
                            <md-input-container class="md-block">
                                <label>Description</label>
                                <input type="text" name="description" ng-model="taskData.description" md-autofocus required>
                                <div ng-messages="addCommentForm.comment_name.$error">                                       <!---->
                                    <div ng-message="required">This field is required.</div>
                                </div>
                                <span class="alert" ng-repeat="error in errors.non_field_errors">{{error}}</span>
                                <span class="alert" ng-if="error">{{error}}</span>
                            </md-input-container>
                        </div>
                    </md-content>
                </md-dialog-content>
                <md-dialog-actions layout="row">
                    <md-button ng-click="cancel()">
                        Cancel
                    </md-button>
                    <md-button type="submit" style="margin-right:20px;">
                        Save
                    </md-button>
                </md-dialog-actions>
           </form>
        </md-dialog>
    </script>



<!--display only for task creator -->
    <script type="text/ng-template" id="add_delete_members.tmpl.html">
        <md-dialog aria-label="Add add_delete_members form" flex="100" flex-xs="100" fkex-sm="100" flex-md="70" flex-lg="40" flex-gt-lg="40" id="change_pwd_view">
               <md-toolbar>
                    <div class="md-toolbar-tools">
                        <h2>Add/delete members</h2>
                        <span flex="" class="flex"></span>

                        <button class="md-icon-button md-button md-ink-ripple" type="button" ng-click="cancel()">
                            <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog" class="ng-scope ng-isolate-scope" aria-hidden="true">
                                <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 24 24" fit="" preserveAspectRatio="xMidYMid meet" focusable="false">
                                    <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"></path>
                                </svg>
                            </md-icon>
                        </button>

                    </div>
                </md-toolbar>

 <!--display only for task creator -->
                        <div ng-show="user.url == taskData.created_by">

                            <md-card class="md-padding">
                                <form name="save_task" ng-submit="save_task.$valid && saveTask()">
                                    <md-card-content>
                                        <div>
                                            <div class="chipsdemoContactChips" ng-controller="userChipsCtrl as ctrl" layout="column" ng-cloak>
                                                <md-content class="md-padding autocomplete" layout="column">
                                                    <md-contact-chips
                                                        ng-model="taskData.members_info"
                                                        md-contacts="ctrl.delayedQuerySearch($query)"
                                                        md-contact-name="username"
                                                        md-contact-email="email"
                                                        md-contact-image="photo"
                                                        md-require-match="true"
                                                        md-highlight-flags="i"
                                                        filter-selected="ctrl.filterSelected"
                                                        placeholder="Members">
                                                    </md-contact-chips>
                                                </md-content>
                                            </div>
                                            <div>
                                                <md-input-container class="md-block">
                                                <label>Assigned member</label>
                                                    <md-select ng-model="taskData.assigned_member">
                                                        <md-option ng-repeat="member in taskData.members_info" ng-value="member.id">{{ member.username }}</md-option>
                                                    </md-select>
                                                </md-input-container>
                                            </div>
                                        </div>
                                    </md-card-content>

                                    <md-card-actions layout="row" layout-align="end center">
                                        <md-button ng-click="cancel()">
                                            Cancel
                                        </md-button>
                                        <md-button class="md-primary md-button md-ink-ripple md-raised" type="submit" style="margin-right:20px;">Save</md-button>
                                    </md-card-actions>
                                </form>
                            </md-card>

                        </div>
        </md-dialog>
    </script>

</md-content>




