<md-content layout-xs="column" layout="row" class="md-padding gray-bg" ng-controller="tasksCtrl">
    <div flex layout="column" ng-controller="nutritionController">

        <md-card>

            <md-toolbar class="md-table-toolbar md-default" ng-hide="options.rowSelection && selected.length">
                <div class="md-toolbar-tools">
                    <span>Tasks</span>
                    <div flex></div>
                    <md-button ng-click="loadStuff()">Async Operation</md-button>
                </div>
            </md-toolbar>

            <md-toolbar class="md-table-toolbar alternate" ng-show="options.rowSelection && selected.length">
                <div class="md-toolbar-tools">
                    <span>{{selected.length}} {{selected.length > 1 ? 'items' : 'item'}} selected</span>
                </div>
            </md-toolbar>

            <md-table-container>
                <table md-table md-row-select="options.rowSelection" ng-model="selected" md-progress="promise">
                    <thead md-head md-order="query.order" md-on-reorder="logOrder">
                    <tr md-row>
                        <th md-column md-order-by="name"><span>Task title</span></th>
                        <th md-column md-order-by="type"><span>Type</span></th>
                        <th md-column md-numeric md-order-by="members.length" md-desc><span>Members</span></th>
                        <th md-column md-numeric md-order-by="deadline_date.value"><span>Deadline date</span></th>
                        <th md-column md-numeric md-order-by="estimate_minutes.value"><span>Estimate minutes</span></th>
                    </tr>

                    </thead>
                    <tbody md-body>
                    <tr md-row md-select="task" md-on-select="logItem" md-auto-select="options.autoSelect"
                        ng-disabled="task.status = 'undefined'"
                        ng-repeat="task in tasks.data | filter: filter.search | orderBy: query.order | limitTo: query.limit : (query.page -1) * query.limit">
                        <td md-cell>{{task.name}}</td>
                        <td md-cell>
                            <div>{{task_count}} - task_count_test</div>
                            <div>{{task_count}} - task_count_test</div>
                        </td>
                        <td md-cell>
                            <div ng-repeat="member in task.members">
                                {{member.username}}({{member.email}})
                            </div>
                        </td>
                        <td md-cell>{{task.deadline_date}}</td>
                        <td md-cell>{{task.estimate_minutes}}</td>
                    </tr>
                    </tbody>
                </table>

            </md-table-container>
            <md-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{count.count}}"
                                 md-page-select="options.pageSelector" md-boundary-links="options.boundaryLinks"
                                 md-on-paginate="logPagination"></md-table-pagination>
        </md-card>


        <md-card>
            <md-tabs md-dynamic-height="" md-border-bottom="" class="project-tabs-box">
                <md-tab label="my tasks">
                    <md-content class="md-padding">

                        <div layout="row">
                            <md-input-container class="sorting-margin">
                                <label>Sort</label>
                                <md-select ng-model="tabSort.tasks">
                                    <md-option ng-repeat="opt in sortVariants" value="{{opt}}">{{opt}}</md-option>
                                </md-select>
                            </md-input-container>
                            <md-input-container class="sorting-margin">
                                <label>View</label>
                                <md-select ng-model="tabView.tasks">
                                    <md-option ng-repeat="opt in viewVariants" value="{{opt}}">{{opt}}</md-option>
                                </md-select>
                            </md-input-container>
                        </div>


                        <md-list class="task-tabs-list">
                            <md-list-item ng-repeat="topping in toppings" class="secondary-button-padding" ng-click="action($event)">
                                <span class="status-ico" ng-class="topping.status"></span>
                                <p><b> {{ topping.name }} </b> - <a ng-href="#" class="task-tabs-name">{{ topping.user }}</a> {{topping.action}} for <b>{{topping.task}}</b></p>
                                <!--<md-button class="md-secondary">View</md-button>-->
                            </md-list-item>
                        </md-list>
                        <span></span>
                    </md-content>
                </md-tab>
                <md-tab label="my notifications">
                    <md-content class="md-padding">
                        <div layout="row">
                            <md-input-container class="sorting-margin">
                                <label>Sort</label>
                                <md-select ng-model="tabSort.notifications">
                                    <md-option ng-repeat="opt in sortVariants" value="{{opt}}">{{opt}}</md-option>
                                </md-select>
                            </md-input-container>
                            <md-input-container class="sorting-margin">
                                <label>View</label>
                                <md-select ng-model="tabView.notifications">
                                    <md-option ng-repeat="opt in viewVariants" value="{{opt}}">{{opt}}</md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                        <md-list>
                            <md-list-item ng-repeat="topping in toppings">
                                <span class="status-ico" ng-class="topping.status"></span>
                                <p><b> {{ topping.name }} </b> - {{ topping.user }} {{topping.action}} for <b>{{topping.task}}</b></p>
                                <md-button class="md-secondary" ng-click="doSecondaryAction($event)">View</md-button>
                            </md-list-item>
                        </md-list>
                        <span></span>
                    </md-content>
                </md-tab>
                <md-tab label="activity">
                    <md-content class="md-padding">
                        <div layout="row">
                            <md-input-container class="sorting-margin">
                                <label>Sort</label>
                                <md-select ng-model="tabSort.activity">
                                    <md-option ng-repeat="opt in sortVariants" value="{{opt}}">{{opt}}</md-option>
                                </md-select>
                            </md-input-container>
                            <md-input-container class="sorting-margin">
                                <label>View</label>
                                <md-select ng-model="tabView.activity">
                                    <md-option ng-repeat="opt in viewVariants" value="{{opt}}">{{opt}}</md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                        <md-list>
                            <md-list-item ng-repeat="topping in toppings">
                                <span class="status-ico" ng-class="topping.status"></span>
                                <p><b> {{ topping.name }} </b> - {{ topping.user }} {{topping.action}} for <b>{{topping.task}}</b></p>
                                <md-button class="md-secondary" ng-click="doSecondaryAction($event)">View</md-button>
                            </md-list-item>
                        </md-list>
                        <span></span>
                    </md-content>
                </md-tab>
            </md-tabs>
        </md-card>
    </div>
</md-content>
