<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Enter new password</title>
</head>
<body>

<div id="content" class="colM">
    <h1>Enter new password</h1>

    <p>Please enter your new password twice so we can verify you typed it in correctly.</p>

    <form action="" method="post">{% csrf_token %}

    <p class="aligned wide"><label for="id_new_password1">New password:</label><input id="id_new_password1" name="new_password1" type="password" /></p>

    <p class="aligned wide"><label for="id_new_password2">Confirm password:</label><input id="id_new_password2" name="new_password2" type="password" /></p>
    <p><input type="submit" value="Change my password" /></p>
    </form>

</div>

</body>
</html>