.logo {
    text-decoration: none;
    color: #fff;
}
.logo:hover {
    text-decoration: none;
}

.card-media {
  background-color: #FFFFFF;
}

#file-input {
    display: none;
}

.md-card-image {
    cursor: pointer;
}

/* Tabs */
.status-ico {
    height: 12px;
    width: 12px;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-right: 16px;
    border-radius: 50%;
    box-sizing: content-box;
}
.status-ico.red, .status-ico.project {
    background: #F21905;
}
.status-ico.green, .status-ico.task {
    background: #03A64A;
}
.status-ico.orange {
    background: #F2BD1D;
}
.sorting-margin {
    margin-left: 15px;
    margin-right: 15px;
}
.secondary-button-padding p {
    padding-right: 100px;
}
.project-tabs-name {
    color: #2196F3;
    text-decoration: underline;
}
.user-link-name {
    color: #2196F3;
    text-decoration: underline;
}
.project-link-name {
    font-weight: bold;
    color: #2B2B2B;
    text-decoration: none;
}
.project-tabs-list {
    font-size: 14px;
}
.project-tabs-box md-list-item, .project-tabs-box md-list-item .md-list-item-inner {
    min-height: 35px;
}
/* Tabs end */


/* angular material for popup window */

.dialogdemoBasicUsage #popupContainer {
  position: relative; }
.dialogdemoBasicUsage .footer {
  width: 100%;
  text-align: center;
  margin-left: 20px; }
.dialogdemoBasicUsage .footer, .dialogdemoBasicUsage .footer > code {
  font-size: 0.8em;
  margin-top: 50px; }
.dialogdemoBasicUsage button {
  width: 200px; }
.dialogdemoBasicUsage div#status {
  color: #c60008; }

  .member-cell:first-child {
    padding-top: 5px;
  }
  .member-cell {
    padding-bottom: 7px;
  }
