.logo {
    text-decoration: none;
    color: #fff;
}
.logo:hover {
    text-decoration: none;
}
.card-media {
  background-color: #999999;
}
.status-ico {
    height: 20px;
    width: 20px;
}
.status-ico.red {
    color: red;
}
.status-ico.green {
    color: green;
}
.status-ico.yellow {
    color: yellow;
}